body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
}
.container{
    width: 25rem;
    display: flex;   
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.square{
    background-color: #111;
    width: 1rem;
    height: 1rem;
    margin: 2px;
    box-shadow: 0 0 2px #000;
    transition: 2s ease-in-out;
}
.square:hover{
    transition-duration: 0s;
}